<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="marash.com.rebuspuzzle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".AppClass">


        <activity android:name=".pages.mainPage.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".pages.gamePage.GamePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.mainPage.MainActivity" />
            <intent-filter>
                <action android:name="com.marash.RebusPuzzle.SelectedImageActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".pages.gamePage.WinTransitionActivity"
            android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.winTransition">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.gamePage.GamePageActivity" />
            <intent-filter>
                <action android:name="com.marash.RebusPuzzle.WinTransitionActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity android:name=".pages.mainPage.CoinBankActivity"
            android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.coinBank">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".pages.mainPage.MainActivity" />
            <intent-filter>
                <action android:name="com.marash.RebusPuzzle.CoinBankActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>


    </application>

</manifest>